.leaderboard {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
}

.leaderboard h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #000000;
}